html {
	
	font-family: "Barlow Condensed", "Helvetica Neue", Arial, sans-serif;
}

h1 {
	font-size: 3.2em;
	font-weight: 700;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 2.4em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1em;
}

p {
	font-family: Georgia, serif;
	font-size: 1em;
	line-height: 1.5;
}
.navigation{
  width: 100%;
  display: flex;
  
}
.navigation img{
  width: 7%;
}

.navigation ul{
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-content: right;
  
}
.navigation ul li{
  on-hover: 
}
#homeBody{
  text-align: center;
}