html {
	
	font-family: "Barlow Condensed", "Helvetica Neue", Arial, sans-serif;
}

h1 {
	font-size: 3.2em;
	font-weight: 700;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 2.4em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1em;
}

p {
	font-family: Georgia, serif;
	font-size: 1.5vw;
	line-height: 1.5;
}

body{
  display: grid;
  grid-template-columns: repeat(3, auto);
}
header{
  grid-column: 1 / 4;
  background-color: pink;
}
.navi{
  display: flex;
  
  
}
.navi ul{
  list-style: none;
  color: white;
  display: flex;
  align-content: center;
}


.navi img{
  width: 7%;
  margin: 0 2vh 0 0;
}

.navi ul li{
  text-align: center;
  width: 100%;
  font-size: 3vh;
 
  
}

.navi ul li:hover{
  background-color: green;

}
main{
  grid-column: 1/ span 3;
  grid-row: 2/ span 2;
}
#homeBody{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: lightgrey;
  align-content: stretch;
  width: 100%;
  
}
#homeBody img{
  width: 50%;
  height: 10vh;
  align-self: center;
  background-color: lightblue;
}
footer{
  grid-column: 1 / span 3;
  grid-row: 6;
  
}
#footer{
 
  display: flex;
  margin-top: auto;
  justify-content: center;
  
  background-color: darkgrey;
  width: 100%;
}
