html {
	
	font-family: "Barlow Condensed", "Helvetica Neue", Arial, sans-serif;
}

h1 {
	font-size: 3.2em;
	font-weight: 700;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 2.4em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1em;
}

p {
	font-family: Georgia, serif;
	font-size: 1em;
	line-height: 1.5;
}
ul{
  list-style: none;
  
}
body{
  display: grid;
  grid-template-rows: repeat(3, auto);
}
.navi{
  display: flex;
}
.navi ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  margin-left: auto;
  width: 30%;
}


.navi img{
  width: 7%;
  margin: 0 2vh 0 0;
}

.navi ul li{
  text-align: center;
  width: 33.33%;
  font-size: 3vh;
  
  
}

.navi ul li:hover{
  background-color: green;

}
#homeBody{
  
  text-align: center;
  background-color: lightgrey;
  height: 100%;
}
#homeBody img{
  width: 50%;
  height: 10vh;
  background-color: lightblue;
}