html {
	
	font-family: "Barlow Condensed", "Helvetica Neue", Arial, sans-serif;
}

h1 {
	font-size: 3.2em;
	font-weight: 700;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 2.4em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1em;
}

p {
	font-family: Georgia, serif;
	font-size: 2vw;
	line-height: 2;
}

a{
  font-style: normal;
  color: black;
  text-decoration: none;
}
body{
  display: grid;
  grid-template: repeat(4, auto) / repeat(12, auto);
}
header{
  grid-column: 1 / span 12;
  background-color: pink;
  
}
#navi{
  display: flex;
  flex-direction: row;
  
}
#innerNav ul{
  list-style: none;
  color: white;
  display: flex;
  justify-content: space-around;
  background-color: purple;
  width: 25vw;
}
#innerNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
}
#logo{
  width: 15vh;
  
}
#innerNav ul li{
  text-align: center;
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  color: black;
}

#headHome:hover{
  color: green;

}
#headContent:hover{
  color: blue;

}
#headFaq:hover{
  color: red;

}

#contentNav{
  background-color: blue;
  display: flex;
  
  min-height: 75vh;
  
}
#contentNav ul{
  list-style:none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -3vh;
  margin-right: 3vh;
  line-height: 10vh
}
.navigation{
  grid-column: span 4;
  grid-row: 2;
}
.content{
  grid-column: span 5;
}
#contentMain{
  display: flex;
  flex-direction: column;
  
  
  text-align: center;
  background-color: green;
  
  
  
}

#faqNav{
  background-color: purple;
  display: block;
  

}

#faqBody{
  
  display: block;
  text-align: center;
  background-color: yellow;
 
}

footer{
  grid-column: 1 / span 12;
  grid-row: 4;
  
}
#footer{
 
  display: flex;
  margin-top: auto;
  justify-content: center;
  
  background-color: darkgrey;
  width: 100%;
}
