html {
	
	font-family: "Barlow Condensed", "Helvetica Neue", Arial, sans-serif;
}

h1 {
	font-size: 3.2em;
	font-weight: 700;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 2.4em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1em;
}

p {
	font-family: Georgia, serif;
	font-size: 2vw;
	line-height: 2;
}

a{
  font-style: normal;
  font-size: 3vh;
  color: black;
  text-decoration: none;
}


header{
  background-color: none;
  
}
#navi{
  display: flex;
  flex-direction: row;
  border-bottom: .5em solid lightgrey;
}
#innerNav ul{
  list-style: none;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 25vw;
}
#innerNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
}
#logo{
  width: 15vh;
  
}
#innerNav ul li{
  text-align: center;
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  color: black;
}

#headHome:hover{
  color: green;

}
#headContent:hover{
  color: blue;

}
#headFaq:hover{
  color: red;

}

#faqNav{
  width: 20vh;
  float: left;
  height: 100vh;
  border-right: .5em solid lightgrey;
}

#faqList ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 70vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 10vh;
  overflow: hidden;
}
#faqList ul li{
  border-bottom: .5em solid lightgrey;
  border-radius: 10px;
  
}

#faqBody{
  
  display: block;
  width: 75%;
  float: right;
  text-align: center;
 
}


#footer{
 
  display: flex;
  margin-top: auto;
  justify-content: center;
  
  background-color: lightgrey;
  width: 100%;
}
